<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebCool</title>
    <link rel="icon" href="{{ url_for('static', filename = 'img/samplelogo.gif') }}" type="image/gif" sizes="16x16">


    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
</head>
<body>
    <div class="header">
        <div class="nav">
        <ul>
            <li><a href={{url_for("home_view")}}>Home</a></li>
            <li>About</li>
            <li>Contact</li>
        </ul>
        </div>
    </div>
 
        <div class="animating">
        <div class="banner1">
            <img src="{{url_for('static', filename='img/dark.jpg')}}">
            <div class="text-box text-box1">
                <h1>Silence Is Not Enough.</h1>
                <span> </span>
                <p>Words can be twisted into any shape. Promises can be made to lull the heart and seduce the soul. In the final analysis, words mean nothing. They are labels we give things in an effort to wrap our puny little brains around their underlying natures, when ninety-nine percent of the time the totality of the reality is an entirely different beast. The wisest man is the silent one. Examine his actions. Judge him by them.</p>
            </div>
        </div>

        

        <div class="banner2">
            <img src="{{url_for('static', filename='img/white.jpg')}}">
            <div class="text-box text-box2">
                <h1>Silence Is Not Enough.</h1>
                <span> </span>
                <p>Words can be twisted into any shape. Promises can be made to lull the heart and seduce the soul. In the final analysis, words mean nothing. They are labels we give things in an effort to wrap our puny little brains around their underlying natures, when ninety-nine percent of the time the totality of the reality is an entirely different beast. The wisest man is the silent one. Examine his actions. Judge him by them.</p>
            </div>
        </div>

        <div class="banner3">
            <img src="{{url_for('static', filename='img/shallow.jpg')}}">
            <div class="text-box text-box3">
                <h1>Future Of The Generation.</h1>
                <span> </span>
                <p>Words can be twisted into any shape. Promises can be made to lull the heart and seduce the soul. In the final analysis, words mean nothing. They are labels we give things in an effort to wrap our puny little brains around their underlying natures, when ninety-nine percent of the time the totality of the reality is an entirely different beast. The wisest man is the silent one. Examine his actions. Judge him by them.</p>
            </div>
        </div>
    
        <div class="banner4">
            <img src="{{url_for('static', filename='img/star.jpg')}}">
            <div class="text-box text-box4">
                <h1>Stars Are Everywhere.</h1>
                <span> </span>
                <p>Words can be twisted into any shape. Promises can be made to lull the heart and seduce the soul. In the final analysis, words mean nothing. They are labels we give things in an effort to wrap our puny little brains around their underlying natures, when ninety-nine percent of the time the totality of the reality is an entirely different beast. The wisest man is the silent one. Examine his actions. Judge him by them.</p>
            </div>
        </div>
        </div>

        <div class="options">
            <img src="{{ url_for('static', filename ='img/circle.svg') }}">
            <img src="{{ url_for('static', filename ='img/circle.svg') }}">
            <img src="{{ url_for('static', filename ='img/circle.svg') }}">
        </div>

        <div class="credits">


        </div>




</body>
</html>
